<div class="account">
    <div class="heading">
        <span>Hey {{user.username}}! Welcome to our website</span>
        <h3>This is your profile</h3>
        <a href="#" class="box">
            <img style="max-width: 15rem;height: auto;border-radius:5%" src="{{user.image}}" alt="">
            <h3>{{user.name}}</h3>
        </a>
    </div>
    <div class="heading">
        <h1>Name : </h1>
        <span>{{user.name}}</span>

        <h1>Username : </h1>
        <span>{{user.username}}</span>

        <h1>Date of birth : </h1>
        <span>{{user.dateOfBirth}}</span>

        <h1>Email : </h1>
        <span>{{user.email}}</span> 
        
        <h1>Phone number : </h1>
        <span>{{user.phoneNumber}}</span>
        
        <h1>Role : </h1>
        <span>{{user.role}}</span>
    </div>
    <div class="heading">
        <a href="/user/update-account" class="btn">EDIT</a>
    </div>


</div>